# This setting forces npm to install optional dependencies.
# It's a workaround for an npm bug that fails to install platform-specific
# binaries (like for Rollup) in CI/CD environments like Netlify.
optional=false