---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About Us | Locked In Locksmith';
const pageDescription =
	'Learn more about Locked In Locksmith, our mission, and our team of expert locksmiths.';
---

<BaseLayout title={pageTitle} description={pageDescription}>
	<h1>About Us</h1>
	<p>This is where you can write about your company.</p>
</BaseLayout>
