---
import BaseLayout from '../../public/layouts/BaseLayout.astro';

const pageTitle =
	'Locked In Locksmith | Locksmith Services, Emergency Help & Security Solutions';
const pageDescription =
	'Locked In Locksmith offers professional locksmith services, emergency lockout help, and more for residential, commercial, and automotive needs in your area.';
---

<BaseLayout title={pageTitle} description={pageDescription}>
	<h1>Welcome to Locked In Locksmith</h1>
	<!-- Main content for the home page goes here -->
</BaseLayout>
