---
import BaseLayout from "../../public/layouts/BaseLayout.astro";

const pageTitle = "Areas We Service | Locked In Locksmith";
const pageDescription =
	"Find out if Locked In Locksmith serves your neighborhood. We provide fast, reliable locksmith services to a wide range of locations. See our full service area list.";
---

<BaseLayout title={pageTitle} description={pageDescription}>
	<h1>Our Service Areas</h1>
	<p>We proudly serve the following communities. If you don't see your location listed, please contact us to see if we can assist you.</p>
</BaseLayout>
