---
import BaseLayout from '../../public/layouts/BaseLayout.astro';

const pageTitle = 'Our Services | Locked In Locksmith';
const pageDescription =
	'Explore our comprehensive locksmith services, including residential, commercial, automotive, and 24/7 emergency solutions.';
---

<BaseLayout title={pageTitle} description={pageDescription}>
	<h1>Our Services</h1>
	<p>A summary of all services will go here.</p>
</BaseLayout>
